<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qf.meilihui">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="魅力惠"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".avtivity.WelcomActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".avtivity.BagActivity" />
        <activity android:name=".view.HeadActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".view.BeantifuHeadActivity" />
        <activity android:name=".avtivity.HeadViewDetailsActivity" />
        <activity android:name=".avtivity.SecondDetailsActivity" />
        <activity android:name=".view.BeantifuHeadActivity" />
        <activity android:name=".avtivity.ProductsListActivity" />
        <activity android:name=".avtivity.ThirdDetailsActivity" />
        <activity android:name=".avtivity.EnsureActivity" />
        <activity android:name=".avtivity.RulerActivity" />
        <activity android:name=".avtivity.ViewPagerActivity" />
        <activity android:name=".avtivity.SecondDetailsActivity" />
        <activity android:name=".avtivity.ProductsListActivity" />
        <activity android:name=".avtivity.BrandDetailActivity" />
        <activity android:name=".avtivity.AllBrandActivity" />
        <activity android:name=".avtivity.SignActivity" />
        <activity android:name=".avtivity.RegisterActivity" />
        <activity android:name=".avtivity.MailBoxActivity" />
        <activity android:name=".avtivity.StarRecommendActivity" />
        <activity android:name=".avtivity.OverseasBoutiqueActivity"></activity>
    </application>

</manifest>